.card
    &__button
        &--toggle
            font-family "montserrat"
            font-weight 600
            color #191919
            &:link
                color #191919
            &:hover
                color #191919
    &-body
        & p
            color #191919
            font-family "merriweather"