.list-group-item
    font-family 'Merriweather', serif
    font-weight 500
    color white
    background-color transparent
    border none
    border-top solid 1px white
    padding-top 20px
    padding-bottom 20px
    &:nth-child(1)
        border none
    & b
        font-family "montserrat"
        font-weight 600
    
img
    border-radius 12px
    
