.form
    &__label
        color #f9f9f9
        font-family "montserrat"
        font-size 20px
    &__input
        font-family "montserrat"
        border-radius 0
        border none
        background-color transparent
        border-bottom 2px solid white
        font-size 18px
        color white
        transition 0.25s
        &::placeholder
            color #999999
        &:focus
            transition 0.25s
            background-color white
            color #191919
    &__button
        background-color #f9f9f9
        color #191919
        font-family "montserrat"
        border 0
        margin-top 25px
        border-radius 2px
        font-size 20px
        font-weight 600
        padding 10px
        &:hover
            background-color #f9f9f9c9
            color #191919